/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  background-color: #f9f9f9;
}
h1 {
  color: #0066cc;
}

